body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

/* .chat */
.chat {
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.aside {
    margin-top: 50px;
    padding: 20px;
    align-self: flex-start;
    border: 2px tan solid;
    border-radius: 10px;
    border-right: none;
    width: 30%;
}

/* user */
.user {
    display: flex;
    align-items: center;
}

.user:nth-child(n + 2) {
    margin-top: 20px;
}

.user__round {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid tan;
    border-radius: 50px;
}

/* .content */
.content {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    min-height: 87vh;
    width: 70%;
    border: 2px tan solid;
    padding: 15px;
}

.content__input {
    align-self: flex-end;
    height: 50px;
    padding: 15px;
    border: 2px tan solid;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* messages */
.messages {
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
}

.message {
    background-color: #f2ece4;
    width: 50%;
    border-radius: 20px;
    padding: 10px 10px;
}

.message:nth-child(n + 2) {
    margin-top: 30px;
}

.message--you {
    margin-left: auto;
    text-align: right;
    background-color: #d8e4ff;
}

.message__header {
    color: grey;
    font-size: 20px;
    margin-bottom: 15px;
}

.message--you .message__header {
    color: hotpink;
}

.message__content {
    color: darkslategrey;
    font-size: 28px;
}
